<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- Note that this file is refreshed by the server every 60seconds, as specified in web.xml -->

<log4j:configuration debug="false">


  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.EnhancedPatternLayout">
      <param name="ConversionPattern" value='%-5p (%c) [%t]: Correlation-ID="%X{Correlation-ID}" %X{BAMStrategyMDCkey} %m%n' />
    </layout>
  </appender>
  <appender name="SyslogInfoLogFile" class="org.apache.log4j.DailyRollingFileAppender">
	<param name="File" value="../../logs/FIN_SERV.log"/>
	<param name="Append" value="true"/>
	<param name="DatePattern" value="'.'yyyy-MM-dd"/>
	<layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %-5p%c{2} - %m%n"/>
	</layout>
  </appender>

  <logger name="org.springframework">
    <!-- Print only messages of level warn or above in the package com.foo -->
    <level value="DEBUG" />
  </logger>
  <logger name="org.hibernate">
    <!-- Print only messages of level warn or above in the package com.foo -->
    <level value="DEBUG" />
  </logger>
  <logger name="org.springframework.aop.aspectj">
    <!-- Print only messages of level warn or above in the package com.foo -->
    <level value="DEBUG" />
  </logger>
  <logger name="org.springframework.aop.interceptor">
    <!-- Print only messages of level warn or above in the package com.foo -->
    <level value="DEBUG" />
  </logger>
  <logger name="org.apache.cxf">
    <!-- Print only messages of level warn or above in the package com.foo -->
    <level value="DEBUG" />
  </logger>
  <root>
    <priority value="DEBUG" />
    <appender-ref ref="CONSOLE" />
	<appender-ref ref="SyslogInfoLogFile" />
  </root>
</log4j:configuration>


